@model Party.Models.Guest
@{
    ViewBag.Title = "Thanks";
}

<div>
    <p>
        Tähan sind, @Model.Name
    </p>
</div>

<div>
    @if (Model.WillAttend == true)
    {
        @: Ootame sind kallis sõber!
    <p>
       <img src="~/Images/happy.png" width="400" height="500" />
        
    </p>
    }
    else
    {
        @: Ei oota sind ei kallis sõber!
<p>
    <img src="~/Images/sad.jpg" width="400" height="500" />
</p>
    }
    @ViewBag.Message @**@
</div>
